.AuthPage {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #f9e79f;
	border-radius: 2vmin;
	margin: 2rem;
	padding: 5rem;
}

.AuthPage h3 {
	margin-top: 4vmin;
	text-align: center;
	color: var(--text-light);
	cursor: pointer;
}
