.ListItem {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3vmin;
	padding: 2vmin;
	color: var(--text-light);
	background-color: #f9e79f;
	border-radius: 1vmin;
	font-size: 4vmin;
}

.ListItem .buy {
	display: flex;
	flex-direction: column;
}

.ListItem .buy span {
	font-size: 1.7vw;
	text-align: center;
	color: var(--text-light);
}

.ListItem .title {
	font-size: 2vw;
	text-align: center;
	color: var(--text-light);
}

.ListItem button {
	background-color: #f1c40f;
}
